#projects {
    width: 100vw;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.projectTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.projectDesc{
    font-weight: 300;
    font-size: 1rem;
    width: 80%;
    text-align: center;
}

.projectList {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 3rem;
    width: 90%;
}

.project {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 65rem;
    /* width: 100vh; */
}

.project img {
    width: 100%;
    height: 23rem;
    margin:0.5rem;
    object-fit: cover;
    border-radius: 10px;
}

.layer a {
    text-decoration: none;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color: #fff;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(4, 28, 50, 0.5), #FE6F01);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.project:hover .layer{
    height: 100%;
    transition: 0.7s ease-out;
}

.projectBtn{
    padding: 0.5rem 2.5rem;
    background: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .project img{
        height: 48vw;
    }
}

