#intro{
    height: calc(100vh - 6rem);
    width: 100vw;
    max-width: 75%;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    position: absolute;
    top:auto;
    right: 6rem;
    object-fit: cover;
    z-index: -1;
}

.introContent{
    height: 80vh;
    width: 100vw;
    padding: 2rem;
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: #FE6F01;
}

.introPara{
    font-size: medium;
    font-weight: 300;
}

.btn{
    background: #fff;
    margin: 2rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
